{% extends 'base.html' %}
{% load static %}
{% load markdown_deux_tags %}
{% block title %} Project - {{ project.title }} {% endblock title %}
<style>
	*{
		visibility: visible;
	}
</style>
{% block content %}
<div class="col-xl-10">
	<div class="content-column-content">
	  <h1>{{ project.title }}</h1>
	  <p class="lead">{{ project.description }}</p>
	  <div id="main-slider" class="owl-carousel owl-theme">
		{% for img in project.images_set.all %}
		<div class="item">
			<img src="{{ img.image.url }}" alt="" class="img-fluid">
		</div>
		{% endfor %}
	  </div>
	 <div>
		 {{ project.content | markdown | linebreaks}}
	 </div>
	</div>
</div>
{% endblock content %}