/* Image Slider css */

[data-component="slider"] .slide {
	display: none;
}

[data-component="slider"] .slide.active {
	display: block;
}




img{
	width:100%;
	height: auto;
}
*{
	font-family: 'Montserrat', sans-serif;;
}
.container{
	width: 100%;
}
body{
	background-color: #fdfdfd;
}
p{
	text-align:left;
	width: inherit;
}
.all{
	display:grid;
	grid-template-columns: 30vw 70vw;
}
.project{
	width:20vw;
	height: auto;
	
}

.card{
	box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
	padding:16px;
	transition: all 0.3s ease-in-out;
}
.card:hover{
	transform: scale(1.05);
}
/* .card:hover .overlay{
	opacity: 1;
} */
.project img{
	transition: all 0.3s ease-in-out;
}
.project img:hover{
	opacity: 0.3;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: #fdfdfd;
}

a{
	text-decoration:none;
	color: #ed6663;	
}

.portfolio-projects{
	height: 100vh;
	display:grid;
	grid-template-columns: auto auto auto;
	gap: 40px;
}
.sidebar{
	height: 100vh;
	width: 25vw;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1;
	transition: 0.5s;
	display: grid;
	grid-template-rows: 35vh 20vh auto;
}
.sidebar .closebtn {
	display: none;
}
.project-link{
	font-size: 25px;
	color: black;
	font-weight: bold;
}
.project-link:hover{
	border-bottom: 1px dotted #ed6663;
	transition: 0.8s;
}
.sidebar-links a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.contact-links{
	padding: 16px;
	display: flex;
	justify-content: flex-start;

}
.contact-links a{
	height: 20px;
	width: 20px;
	display: block;
	align-content: center;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 5px;
	border:1px solid #818181;
	border-radius: 50%;
	color: #818181;
	margin: 10px;
}
.contact-links a:hover{
	color: #ed6663;
	border:1px solid #ed6663;
}
.profile{
	display: block;
	flex-direction: row;
	padding: 16px;
	background:#ed6663;
	color:#fdfdfd;
}
.profile a{
	display: block;
	color: #fdfdfd;
	text-decoration:none;
}

/* Active/current link */

.sidebar-links a.active {
	color: #ed6663;
	font-weight: bolder;
}

.portfolio{
	display: grid;
	width: 65vw;
	grid-template-rows: 50px auto auto;
	margin-left: 25vw;
	padding:16px;
}
.navbar{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	background:#fdfdfd;
	display:flex;
	justify-content: space-evenly;
	padding-top: 8px;
	padding-bottom: 5px;
}
.badge{
	cursor: pointer;
	color:#ed6663;
	border:1px solid #ed6663;
	display:block;
	background:transparent;
	outline: none;
	height:25px;
}




.navbar button.active{
	background:#ed6663;
	color: white;
	outline: none;
}

.badge:focus{
	outline: none;
}
.menu div{
	height: 4px;
	background-color:#ed6663;
	margin: 5px 0;
	border-radius: 25px;
}
.menu{
	width: 40px;
	height: 50px;
	cursor: pointer;
	border: none;
	outline: none;
	background:transparent;
}
.menu:focus{
	outline:none;
}
.top-bar{
	display: none;
}
.name-heading{
	margin-top: 0;
}
@media only screen and (max-width: 1400px) {
	.portfolio-projects{
		display: grid;
		grid-template-columns: auto auto auto;
		gap:20px;
	}
	.project{
		width:20vw;
		height: auto;
	}
	.portfolio{
		width:  65vw;
	}
}

@media only screen and (max-width: 1200px) {
	.portfolio-projects{
		display: grid;
		grid-template-columns: auto auto;
		gap:20px;
	}
	.project{
		width:30vw;
		height: 400px;
	}
	.portfolio{
		width: 65vw;
	}
}
@media only screen and (max-width: 900px) {
	.sidebar{
		width:0;
		/* display: none; */
	}
	.profile{
		display: none;
	}
	.profile p{
		display: none;
	}
	.profile a{
		display: none;
	}
	.sidebar-links a{
		display: none;
	}
	.contact-links a{
		display: none;
	}

	.sidebar .closebtn{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	.top-bar{
		display: flex;
		font-weight: bolder;
		justify-content: space-between;
	}	
	.portfolio-projects{
		display: grid;
		grid-template-columns: auto auto;
		gap:20px;
		margin-left: 0;
	}
	.project{
		width:42vw;
		height: 400px;
	}
	.menu{
		display: block;
		height: 25px;
	}
	.portfolio{
		margin-left: 0;
		padding: 0;
		width: 95vw;
	}
}

/* Medium devices (landscape tablets, upto 768px ) */
@media only screen and (max-width: 768px) {
	.sidebar{
		/* display: none; */
		width:0;
	}
	.sidebar-links a{
		display: none;
	}
	.profile{
		display: none;
	}
	.profile p{
		display: none;
	}
	.profile a{
		display: none;
	}
	.contact-links a{
		display: none;
	}
	.sidebar .closebtn{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	.top-bar{
		display: flex;
		font-weight: bolder;
		justify-content: space-between;
	}
	
	.portfolio-projects{
		display: grid;
		grid-template-columns: auto auto;
		gap:8px;
		margin-left: 0;
	}
	.project{
		width:40vw;
		height: 400px;
	}
	.menu{
		display: block;
	}
	.portfolio{
		margin-left: 0;
		width: 95vw;
		padding:0;
	}
}
@media only screen and (max-width: 450px) {
	.sidebar{
		/* display: none; */
		width: 0;
	}
	.sidebar-links a{
		display: none;
	}
	.contact-links a{
		display: none;
	}
	.profile{
		display: none;
	}
	.profile p{
		display: none;
	}
	.profile a{
		display: none;
	}
	.sidebar .closebtn{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
   .portfolio-projects{
	   display: grid;
	   grid-template-columns: auto;
	   gap:15px;
	   margin-left: 0;
   }
   .top-bar{
		display: flex;
		font-weight: bolder;
		justify-content: space-between;
	}

   .project{
	   width: 90vw;
	   height: 400px;
   } 
   .menu{
	   display: block;
   }
   .portfolio{
		margin-left: 0;
		width: 90vw;
		padding:0;
	}
}
