input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*body{
	background: #C7DBFF!important;
	background-color: #C7DBFF;
}*/

/* Image Slider css */

#img-slider{
	position: relative;
	margin: auto;
}
.slide{
	display: none;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background:rgba(0,64,128,.2);
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(209, 203, 203, 0.8);
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

img{
	width:100%;
	height: auto;
}
*{
	font-family: 'Montserrat', sans-serif;;
}
.container{
	width: 100%;
}
body{
	background-color: #fdfdfd;
}
p{
	text-align:left;
	width: inherit;
}
.all{
	display:grid;
	grid-template-columns: 30vw 70vw;
}
.project{
	width:20vw;
	height: fit-content;
	display: block;
}
.text-content{
	margin-left: 10px;
}
.alert{
	position: absolute;
	width: 65vw;
	padding:16px;
	color:#fdfdfd;
}
.alert-success{
	background-color: #4CAF50;
}
.alert-danger{
	background-color: #f44336;
}
alert-warning{
	background-color: #f44336;
}
.alert .closebtn{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.alert .closebtn:hover{
	color: black;
}
.card{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	padding:0px;
	transition: .5s;
}
.card:hover{
	box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
	transform: scale(1.02);
}
/* .card:hover .overlay{
	opacity: 1;
} */
.project-text{
	padding:10px;
}
.project img{
	transition: all 0.3s ease-in-out;
}
.project img:hover{
	opacity: 0.3;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: #fdfdfd;
}

a{
	text-decoration:none;
	color: #50507F;
}

.portfolio-projects{
	height: 100vh;
	display:grid;
	grid-template-columns: auto auto auto;
	gap: 40px;
	justify-content: center;
}
.sidebar{
	height: 100vh;
	width: 25vw;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1;
	transition: 0.5s;
	display: grid;
	grid-template-rows: 35vh 20vh auto;
}
.sidebar .closebtn {
	display: none;
	color: #fdfdfd;
	font-size: large;
	font-weight: bolder;
}
.project-link{
	font-size: 25px;
	color: black;
	font-weight: bold;
}
.project-link:hover{
	border-bottom: 1px dotted #50507F;
	transition: 0.5s;
}
.sidebar-links a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.contact-links{
	padding: 16px;
	display: flex;
	justify-content: flex-start;

}
.contact-links a{
	height: 20px;
	width: 20px;
	display: block;
	align-content: center;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 5px;
	border:1px solid #818181;
	border-radius: 50%;
	color: #818181;
	margin: 10px;
}
.contact-links a:hover{
	color: #50507F;
	border:1px solid #50507F;
}
.profile{
	display: block;
	flex-direction: row;
	padding: 16px;
	background:#50507F;
	color:#fdfdfd;
}
.profile a{
	display: block;
	color: #fdfdfd;
	text-decoration:none;
}

/* Active/current link */

.sidebar-links a.active {
	color: #50507F;
	font-weight: bolder;
}

.portfolio{
	display: grid;
	width: 65vw;
	grid-template-rows: 50px auto auto;
	margin-left: 25vw;
	padding:16px;
}
.navbar{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	background:#fdfdfd;
	display:flex;
	justify-content: space-evenly;
	padding-top: 8px;
	height: 35px;
	padding-bottom: 5px;
}
.badge{
	cursor: pointer;
	color:#50507F;
	border:1px solid #50507F;
	display:block;
	background:transparent;
	outline: none;
	height:25px;
}

button{
	transition: .3s;
	transform: scale(1);

}

button:active{
	transform: scale(1.6);
}


.navbar button.active{
	background:#50507F;
	color: white;
	outline: none;
}

.badge:focus{
	outline: none;
}
.menu div{
	height: 4px;
	background-color:#50507F;
	margin: 5px 0;
	border-radius: 25px;
}
.menu{
	width: 40px;
	height: 50px;
	cursor: pointer;
	border: none;
	outline: none;
	background:inherit;
	transition: all .2s;
}
.menu:active{
	transform: rotate(-90deg);
}
.menu:focus{
	transform: rotate(-90deg);
	transition: 0.2s;
}
.menu:focus{
	outline:none;
}
.menu .one{
	width: 40px;
}
.menu .two{
	width: 25px;
}
.top-bar{
	display: none;
}
.name-heading{
	margin-top: 0;
}
@media only screen and (max-width: 1400px) {
	.portfolio-projects{
		display: grid;
		grid-template-columns: auto auto auto;
		gap:20px;
	}
	.project{
		width:20vw;
		height: auto;
	}
	.portfolio{
		width:  65vw;
	}
}

@media only screen and (max-width: 1200px) {
	.portfolio-projects{
		display: grid;
		grid-template-columns: auto auto;
		gap:20px;
	}
	.project{
		width:30vw;
		height: auto;
	}
	.portfolio{
		width: 65vw;
	}
	.alert{
		width: 60vw;
	}
}
@media only screen and (max-width: 900px) {
	.sidebar{
		width:0;
		/* display: none; */
	}
	.alert{
		width: 85vw;
	}
	.profile{
		display: none;
	}
	.profile p{
		display: none;
	}
	.profile a{
		display: none;
	}
	.sidebar-links a{
		display: none;
	}
	.contact-links a{
		display: none;
	}

	.sidebar .closebtn{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
		margin-bottom: 10px;
	}
	.top-bar{
		display: flex;
		font-weight: bolder;
		justify-content: space-between;
		position: sticky;
		top: 0;
		left: 0;
		background: #fdfdfd;
		z-index: 1;
	}
	.portfolio-projects{
		display: grid;
		grid-template-columns: auto auto;
		gap:20px;
		margin-left: 0;
	}
	.project{
		width:42vw;
		height: auto;
	}
	.menu{
		display: block;
		height: 50px;
		width: 50px;
		margin-left: 10px;
	}
	.portfolio{
		margin-left: 0;
		padding: 0;
		width: 95vw;
	}
}

/* Medium devices (landscape tablets, upto 768px ) */
@media only screen and (max-width: 768px) {
	.sidebar{
		/* display: none; */
		width:0;
	}
	.alert{
		width: 85vw;
	}
	.sidebar-links a{
		display: none;
	}
	.profile{
		display: none;
	}
	.profile p{
		display: none;
	}
	.profile a{
		display: none;
	}
	.contact-links a{
		display: none;
	}
	.sidebar .closebtn{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
		margin-bottom: 10px;
	}
	.top-bar{
		display: flex;
		font-weight: bolder;
		justify-content: space-between;
		position: sticky;
		top: 0;
		left: 0;
		background: #fdfdfd;
		z-index: 1;
	}
	.portfolio-projects{
		display: grid;
		grid-template-columns: auto auto;
		gap:8px;
		margin-left: 0;
	}
	.project{
		width:40vw;
		height: auto;
	}
	.menu{
		display: block;
		margin-left: 10px;
	}
	.portfolio{
		margin-left: 0;
		width: 98vw;
		padding:0;
	}
}
@media only screen and (max-width: 450px) {
	.sidebar{
		/* display: none; */
		width: 0;
	}
	.alert{
		width: 85vw;
	}
	.sidebar-links a{
		display: none;
	}
	.contact-links a{
		display: none;
	}
	.profile{
		display: none;
	}
	.profile p{
		display: none;
	}
	.profile a{
		display: none;
	}
	.sidebar .closebtn{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
		margin-bottom: 10px;
	}
   .portfolio-projects{
	   display: grid;
	   grid-template-columns: auto;
	   gap:15px;
	   margin-left: 0 !important;
	   justify-content: center;
   }
   .top-bar{
		display: flex;
		font-weight: bolder;
		justify-content: space-between;
		position: sticky;
		top: 0;
		left: 0;
		background: #fdfdfd;
		z-index: 1;
	}

   .project{
	   width: 95vw;
	   height: auto;
   }
   .menu{
	   display: block;
	   margin-left: 5px;
   }
   .portfolio{
		margin-left: 0 !important;
		width: 98vw;
		padding:0;
	}
}
