{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %} Shubham {% endblock title %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">

	<link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	
	<!-- Custom stylesheet - for your changes-->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" >
</head>
<style>

</style>
<body>
	<div class="all">
		<div class="sidebar" id="sidebar">
			<div class="profile">
				<a class="profile-name-link" href="/"><h3>SHUBHAM KUMAR</h3></a>
				<p class="profile-bio">
					I am a computer science student and a fullstack web devloper,
					Currently working as an intern in a startup.
					<p>Always Learning,Developing or solving.</p>
				</p>
			</div>
			<div class="sidebar-links">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="/" class="active">Portfolio</a>
				<a href="/about">About</a>
				<a href="/contact">Get in Touch</a>
			</div>
			<div class="contact-links">
				<a href="https://github.com/shubhamsks"><i class="fa fa-github"></i></a>
				<a href="https://github.com/shubhamsks"><i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/shubhamsks"><i class="fa fa-twitter"></i></a>
			</div>
		</div>
		<div class="portfolio">
			<div class="top-bar">
				<button id="menu-btn" class="menu">
					<div class="one"></div>
					<div class="two"></div>
					<div class="three"></div>
				</button>
				<div class="name-heading">
					<h2>
						Shubham Kumar
					</h2>
				</div>
			</div>
			<div class="navbar">
				<button id="all" class="badge active">All</button>
				<button id="django" class="badge">Django</button>
				<button id="react" class="badge">React</button>
				<button id="android" class="badge">Android</button>
				<button id="ai" class="badge">AI/ML</button>

			</div>
			<div class="container">
				{% block content %}

				{% endblock content%}
			</div>
		</div>
	</div>

	{% block javascript %}
	<script src="{% static 'js/front.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>
	{% endblock javascript %}
</body>
</html>