{% extends 'base.html' %}

{% block title %} Shubham-Home {% endblock title %}


{% block content %}
<div class="portfolio-projects">
	{% for project in projects %}
	<div class="project card {% if project.classes %} {{ project.classes}} {% endif %}"> 
		<a href="{{ project.get_absolute_url }}">
			<img src="{{ project.thum.url }}">
		</a>
		<div class="box-masonry-text"> 
			<h4> <a class="project-link"  href="{{ project.get_absolute_url }}">{{ project.title }} </a></h4>
			
			<div class="box-masonry-desription">
			<p>{{ project.description }} </p>
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock content %}
	
</div>	